<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clonium.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Clonium.UI.Properties.Settings>
            <setting name="Player1" serializeAs="String">
                <value>#FFFC0A0A</value>
            </setting>
            <setting name="Player2" serializeAs="String">
                <value>#FFFFF81C</value>
            </setting>
            <setting name="Player3" serializeAs="String">
                <value>#FF5AF706</value>
            </setting>
            <setting name="Player4" serializeAs="String">
                <value>#FF0B1FFA</value>
            </setting>
        </Clonium.UI.Properties.Settings>
    </applicationSettings>
</configuration>